@import '@/styles/variables.scss';
.section {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container {
  margin-top: 7rem;
  margin-bottom: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 42px;
  gap: 30px;
  width: 475px;
  min-height: 350px;
  border-radius: 8px;
  border: 1px solid #d6d6d6;
  box-shadow: $special-shadow-1;
}

.header,
.body,
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header {
  margin-bottom: 10px;
}

.divider {
  width: 40%;
  height: 1.25px;
  background-color: lightsalmon;
  border-radius: 9999px;
}

.text {
  font-size: 0.75rem;
  text-align: center;
}

.link {
  text-decoration: underline;

  &:hover {
    color: lightsalmon;
  }
}
