.button {
  border-radius: 8px;
  padding: 12px 16px;
  margin-top: 10px;
  font-size: 0.9rem;
  line-height: 14px;
  font-weight: 600;
  background-color: rgba(240, 128, 128, 0.368);
  border-color: transparent;

  &:hover {
    color: white;
    background-color: lightsalmon;
  }
}
