//** Colores **//
// $primary-color: ;
// $secondary-color: ;
// #detail-color: ;
$white-color: #fff;
$gray-lighter-color: #f8f8f8;
$gray-light-color: #e5e5e5;
$gray-medium-color: #c2c2c2;
$gray-dark-color: #5e5e5e;
$black-color: #232f34;

//** Tipografía **//
$font-family-base: 'Inter', sans-serif;
$line-height-base: 1.5;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

//** Font Sizes **//
$font-size-base: 16px;
$font-size-display: 48px;
$font-size-heading: 32px;
$font-size-title: 24px;
$font-size-subtitle: 20px;
$font-size-body: 16px;
$font-size-label: 12px;
$font-size-link: 12px;
$font-size-button: 12px;

//** Sombras **//
$shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
$shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
$shadow-md: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
$shadow-lg: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
$special-shadow-1: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
  rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

//** Espaciados ? **//
