.section__position {
  position: relative;
}

.backButton {
  position: absolute;
  top: 25px;
  left: 15px;
  width: fit-content;
  height: fit-content;
  border: 1px solid transparent;
  background-color: transparent;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  transition: none;
}

.leftArrowIcon {
  width: 20px;
  height: 20px;

  &:hover {
    fill: lightsalmon;
    scale: 1.1;
  }
}
