@import '@/styles/variables.scss';
.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100vw;
    background-color: #707070;
    color: white;
    position: sticky;
    top: 0;
    z-index: 999;
    transition: 0.3s background-color ease-in-out, 0.3s color ease-in-out;

    &.active {
        background-color: white;
        color: $black-color;
        box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);

        .container > .links > .link {
            border-bottom-color: transparent;
        }
    }

    .container {
        height: 75px;
        width: calc(100% - 50px);
        max-width: 1400px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 50px;
        line-height: 1;

        & > * {
            height: 35px;
        }

        .logo {
            font-size: 34px;
            font-weight: bold;

            .labur {
                color: $primary-color;
            }

            .dot {
                font-weight: bold;
                color: #1dbf73;
            }
        }

        .links {
            display: flex;
            gap: 24px;
            justify-content: right;
            align-items: center;
            padding-top: 5px;

            .link {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: fit-content;

                font-family: 'Montserrat', sans-serif;
                border-bottom: 1px solid transparent;
                border-top: 2px solid transparent;

                &:hover {
                    border-bottom-color: #707070;
                    color: $primary-color;
                }
                a {
                    height: 100%;
                    display: flex;
                    align-items: center;
                }
            }

            span {
                white-space: nowrap;
            }

            .user {
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;
                position: relative;

                & > div {
                    display: flex;
                    align-items: center;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }

                img {
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                .link {
                    border: 1px solid transparent;
                }
                .link:hover {
                    border: 1px solid transparent;
                }
                .options {
                    cursor: default;
                    position: absolute;
                    top: 50px;
                    right: 0;
                    padding: 10px;
                    background-color: white;
                    border-radius: 8px;
                    z-index: 999;
                    border: 1px solid lightgrey;
                    display: flex;
                    justify-content: left;
                    flex-direction: column;
                    gap: 5px;
                    min-width: 200px;
                    // width: fit-content;
                    font-weight: 300;
                    color: gray;
                    .link {
                        width: 100%;
                        justify-content: start;
                        white-space: nowrap;
                        padding: 10px;
                        border: 1px solid transparent;

                        &:hover {
                            color: $white-color;
                            background-color: $primary-color;
                            font-weight: 600;
                            border-radius: 6px;
                        }
                    }
                    .linkMenu {
                        color: inherit;
                    }
                }

                h4 {
                    display: block;
                    cursor: pointer;
                }
            }

            button {
                color: white;
                padding: 10px 20px;
                border-radius: 5px;
                border: 1px solid white;
                background-color: transparent;
                cursor: pointer;

                &:hover {
                    background-color: #1dbf73;
                    border-color: #1dbf73;
                }
            }
        }
    }

    hr {
        width: calc(100% - 2px);
        height: 0;
        border-top: 0.5px solid #ebe9e9;
        border-bottom: 0.5px solid #ebe9e9;
    }

    .menu {
        width: calc(100% - 55px);
        max-width: 1400px;
        margin: 10px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: rgb(158, 158, 158);
        font-weight: 300;
    }
}
