@import '@/styles/variables.scss';

.footer {
    display: flex;
    justify-content: center;
    background-color: #f3f3f3;
    color: #999;

    .container {
        width: 1400px;
        margin: 50px;

        .icon {
            fill: #999;
        }

        a {
            height: 30px;
            display: flex;
            align-items: center;
        }

        .top {
            display: flex;
            justify-content: space-between;

            .item {
                display: flex;
                flex-direction: column;
                gap: 5px;

                h2 {
                    font-size: $font-size-base;
                    font-weight: $font-weight-bold;
                    color: $gray-dark-color;
                    color: $primary-color;
                    margin-bottom: 5px;
                    font-size: 14px;
                }

                .memberContainer {
                    & > a {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                    }
                }

                span {
                    font-size: 14px;
                    font-weight: 300;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        hr {
            margin: 50px 0px;
            height: 0;
            border: 1px solid $gray-light-color;
        }

        .bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .left {
                display: flex;
                align-items: center;
                gap: 20px;

                h2 {
                    line-height: 1;
                }

                span {
                    display: block;
                    font-size: 13px;
                }
            }

            .right {
                display: flex;
                align-items: center;
                gap: 30px;

                .social {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    .icon {
                        width: 24px;
                        height: 24px;

                        &:hover {
                            fill: $black-color;
                        }
                    }
                }
            }
        }
    }
}
