.feature{
    background-color: #0b1041 ;
        display: flex;
        justify-content: center;
        padding: 100px 0px;
    .container{
            width: 1400px;
            display: flex;
            align-items: center;
            gap: 15px;
        .item{
            display: flex;
            flex-direction: column;
            gap: 5px;
            h1{
                color: white;
                margin: 0;
            }
            h2{
                color: white;
                font-style: italic;
                font-weight: 300;
                margin-top: 0;
                margin-bottom: 40px;
            }
            .title{
                color: white;
                font-weight: 600;
                display: flex;
                align-items: center;
                font-size: 18px;
                .icon{
                    color: #9bd002;
                    font-size: 25px;
                    margin-right: 7px;
                }
            }
            p{
                color: white;
            }
            .button {
                display: flex;
                justify-content: center;
                width: 170px;
                background-color: #9bd002;
                color: white;
                padding: 10px 20px;
                border-radius: 5px;
                font-size: 16px;
                font-weight: 500;
                cursor: pointer;
                margin-bottom: 20px;
                :hover{
                    background-color: #6f9401;
                }
            }
            img{
                width: 720px;
            }
        }
    }
}