.features {
    background-color: #f1fdf7;
    display: flex;
    justify-content: center;
    padding: 100px 25px;
    .container {
        width: 1400px;
        display: flex;
        align-items: center;
        gap: 15px;
        .item {
            display: flex;
            flex-direction: column;
            gap: 10px;

            &:first-child {
                flex: 2;
            }

            &:last-child {
                flex: 3;
                background-color: black;
            }
            h1 {
                color: rgb(0, 0, 0);
            }
            p {
                color: rgb(119, 119, 119);
                margin: 0px;
            }
            .title {
                display: flex;
                align-items: center;
                color: rgb(70, 70, 70);
                font-weight: 500;
                .icon {
                    color: rgb(0, 0, 0);
                    font-size: 25px;
                    margin-right: 7px;
                }
            }
            img {
                width: 720px;
            }
        }
    }
}
