@import '@/styles/variables.scss';
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    gap: 10px;

    // border: 1px dotted red;
    border-radius: 5px;

    & > button {
        margin-top: 10px;
    }
}

.group {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 8px;
    &__column {
        grid-template-columns: fit-content(50px) 1fr;

        & > *:nth-child(3) {
            grid-area: 2 / 1 / 3 / 3;
        }
    }
}

.campo {
    width: 100%;
    display: flex;
    flex-direction: column;
    &__row {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5px 10px;
    }
}

.text {
    font-size: 0.75rem;
    text-align: center;
    &__right {
        margin-left: auto;
    }
    &__major {
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 5px;
    }
}

.link {
    text-decoration: underline;

    &:hover {
        color: $primary-color;
    }
}
