.featured {
    height: 600px;
        display: flex;
        justify-content: center;
        background-color: #707070;
        color: white;
    .container {
        width: 1400px;
        display: flex;
        align-items: center;
        .left { 
            display: flex;
            flex-direction: column;
            gap: 15px;

            .slogan {
                gap: 5px;
                span {
                    font-style: italic;
                    font-weight: 300;
                }
            }
            h1 {
                font-size: 65px;
                margin-block-end: 0%;
                margin-block-start: 0%;
            }

            .search {
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: white;
                border-radius: 5px;
                .searchInput {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        img {
                            width: 20px;
                            height: 20px;
                            margin: 10px;
                        }

                        input { 
                            border: none;
                            outline: none;
                        }
                        .icon{
                            margin: 15px;
                            color: #707070;
                            font-size: 20px;
                        }
                }
                button {
                    color: white;
                    width: 120px;
                    height: 50px;
                    border: none;
                    background-color: #9BD002;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    cursor: pointer;
                    font-size: larger;
                }
            }

            .popular {
                display: flex;
                align-items: center;
                gap: 10px;
                span{
                    font-size: medium;
                    font-weight: 500;
                }
                button {
                    color: white;
                    background-color: transparent ;
                    border: 1px solid white;
                    padding: 5px 10px;
                    border-radius: 20px;
                    font-size: 14px;
                    cursor: pointer;
                }
            }
        }
        .right {
            height: 100%;
            background: #5c5c5c;
        }
    }
}