.laburoCard {
    width: 324px;
    height: 470px;
    border: 1px solid lightgrey;
    margin-bottom: 50px;

    img{
        width: 100%;
        height: 50%;
        object-fit: cover;
    }

    .info {
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        .user{
            display: flex;
            align-items: center;
            gap: 10px;

            img{
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }
        }

        p{
            color: #111;
        }

        .star {
            display: flex;
            align-items: center;
            gap: 5px;
            
            .starIcon{
                width: 20px;
                height: 20px;
                color: #ffc108;
            }

            span{
                font-size: 14px;
                font-weight: bold;
                color: #ffc108;
            }
        }
    }

    hr{
        height: 0;
        border: 0.5px solid lightgray;
    }

    .details { 
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        

        .heart{
            width: 25px;
            height: 25px;
            cursor: pointer;
            color: rgb(214, 50, 50);
        }

        .button{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #9bd002;
            text-decoration: none;
            color: white;
            padding: 8px;
            border-radius: 6px;
            .nextIcon{
                padding-left: 4px;
            }
            &:hover{
                background-color: #709503;
            }
        }

        .price{
            
            span{
                color: #444444;
                font-size: 12px;
            }
            h2{
                color: #555;
                font-size: 18px;
                font-weight: 400;
                margin: 0px;
            }
        }
    }
}